<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Fonts  -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
     
      <title>Pc max</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <!-- CSS -->
      <link rel="stylesheet" href="{% static 'css/stylei.css' %}">

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PcMax</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Iniciar sesión</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-disabled="true">Registro</a>
              </li>
              
              <!-- Lo ideal es que hayan varias categorias sin olvidar eso  -->
              <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-disabled="true">Ayuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-disabled="true">(icon carro)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-disabled="true">historial</a>
              </li>
              <form class="from-buscar d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar un Producto" aria-label="Search">
                <button class="btn btn-buscar" type="submit">Buscar</button>
              </form>
            </ul>
            
          </div>
        </div>
      </nav>
    <!-- Fin NavBar-->

    <!-- Carrusel -->
     <!-- CARRUSEL -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active">
            <img src=" {% static './images/HERO-OFICIAL.jpg '%}" class="img-carrusel-carousel d-block w-100" alt="...">
            <div class="carousel-caption  col-4 me-auto ">
                <h1>Todo en tecnologia</h1>
                <p class="parrafo-carrusel">Busca y compra nuestros productos tecnologicos de ultima generacion 100% seguro con envio a todo el mundo</p>
            </div>
            </div>
            
        </div>
    </div>

    <!--Fin Carrusel-->
    <!--menu de opciones secundario -->

    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <h4>olvides tu cuenta</h4>
        <button>Inicio de sesion</button>
        <button>Registro sesion</button>
    </section>

   <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
    <h4>productos</h4>
      <p>Lo ideal ojala sea tipo slider para deslizar y ver los productos</p>
  </section>

    <!--Seccion categorias-->
    <section class="container-categorias col-11 mx-auto my-5">
      <div>
        <div class="titulo-div">
          <h2>Productos por categorias</h2>
        </div>
        <div class="links-categorias">
          <a href="{% url 'lista_productos' %}">
            <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 card-img-categoria" alt="...">
            
          </a>
          <a class="link-a-catego" href="{% url 'lista_productos' %}">
              <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 card-img-categoria" alt="...">

          </a>
        
          <a href="{% url 'lista_productos' %}">
            <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 card-img-categoria" alt="...">
          </a>
          <div>
            
          </div>
        </div>
      </div>
    </section>

    <!--Seccion categorias-->
    <section class="container-categorias col-11 mx-auto my-5">
      <div>
        <div class="titulo-div">
          <h2>Busca tus productos por marcas (asus, ACER, HP)</h2>
        </div>
        <p>Buscar los productos por marca, similar a las categorias</p>
        <p>las marcas no estan definidos en la base de datos</p>
    </section>


    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <h4>ofertas y descuentos</h4>
        <p>descuentos</p>
    </section>

    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <h4>ayuda</h4>
        <button>ayuda 1</button>
        <button>ayuda 2</button>
        <button>formulario</button>
    </section>

      <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
        <h4>Te garantizamos</h4>
          <p>envios rapidos</p>
          <p>seguridad</p>
          <p>servicio 24 horas</p>
      </section>

        <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          PUBLICIDAD
        </section>
        
        <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          Metodos de pagos
        </section>

        <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          <p>encuentranos en </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo velit, fugiat deleniti dolorum quasi atque numquam mollitia iste? Numquam odit aliquam dolores culpa expedita, tempora amet ipsam non blanditiis perferendis!</p>
          <p>reconocodimos por nuestros clientes</p>
        </section>

        <!-- REQUERIMIENTO NO DEFINIDO-->
        <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          <h2>a quien no le gustaria un regalo?</h2>

          <p>Premio al mejor cliente  (requerimineto no definido)</p>
          <p>aqui se premiara y se reconocera a los clientes mas frecuentes</p>
          <p>utilizando django y la base de datos se podra reconocer a los clientes que han tenido la mayor cantidad de compras</p>
          <p>incentivando a los clientes a posibles premios aleatorios que ofrece la empresa</p>
        
          <p>tambien el profesor dijo que se puede crear un cupon para la siguente compra</p>
        </section>
        
    <footer>
      <p>footer</p>
    </footer>


</body>
</html>