:root {
    /* Aqui  se definen los colores de la empresa PCmax */
    --color-blanco: #ffffff;
    --color-1-empresa: #02ff02;
    --color-2-empresa: #000000;
}

* {
    margin: 0;
}

.navbar {
    width: 100%;
    font-weight: 500;
    z-index: 1;
    background-color: var(--color-2-empresa);
}

.navbar-nav {
    display: flex;
    /*ayudara a centrar los links */
    width: 100%; 
    justify-content: center; 
    align-items: center;
    
}

.nav-link {
    padding: 10px;
    color: var(--color-blanco);
  
}

/* link de Pcmax */
.navbar-brand {
    font-weight: 550;
    color: var(--color-blanco);

}

.nav-link:hover, .navbar-brand:hover {
    background-color: #02ff020f;
    color: var(--color-1-empresa);
    border-radius: 10px;
    animation-delay: 2s;
    cursor: default;

}

.logo-PcMax {
    position: relative;
    width: 78px;
    height: 65px;
    margin-top: 2px;
    margin-bottom: 2px;
}



@keyframes box-producto {
    0% {
        border-color: var(--color-1-empresa);
    }
    50% {
        border-color: #292929;
    }
    0% {
        border-color: var(--color-1-empresa);
    }
}

/* Boton buscar */
.btn-buscar {
    position: relative;
    background: linear-gradient(85deg, #44ff44,#44ff44, #fff200); 
    font-weight: 650;
    color: var(--color-blanco);
    padding: 2px
    
}


.btn-buscar:hover {
   background: linear-gradient(85deg,  #ffffff,#ffffff); 
   animation-duration: 2s;
   color: var(--color-1-empresa);
   z-index: 5;
}


.link-carro {
    background: linear-gradient(85deg, #44ff44, #44ff44); 
    border-radius: 5px;
}

.link-carro:hover {
    background: linear-gradient(85deg, #ffffff, #ffffff); 

}
 
/* Fin navbar */

/* link de Pcmax */
.navbar-brand {
    font-weight: 550;
    color: var(--color-blanco);

}

.nav-link:hover, .navbar-brand:hover {
    background-color: #02ff020f;
    color: var(--color-1-empresa);
    border-radius: 10px;
    animation-delay: 2s;
    cursor: default;
}

.logo-PcMax {
    position: relative;
    width: 78px;
    height: 65px;
    margin-top: 2px;
    margin-bottom: 2px;
}


.seccion-formulario {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img {
    flex: 1;
    padding: 20px;
}

.div-img img {
    width: 100%;
    border-radius: 10px;
}

.div-formulario {
    flex: 1;
    background-color: #02ff02;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #003366;
}

.subtitulo-formulario {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos de los campos del formulario */
.field {
    margin-bottom: 20px;
}

.text_campo {
    font-size: 1rem;
    color: #003366;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea.form-control {
    resize: vertical;
}

/* Estilos para el botón de enviar */
#button {
    background-color: #00cc99;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#button:hover {
    background-color: #009966;
}

/* Responsive Design */
@media (max-width: 768px) {
    .seccion-formulario {
        flex-direction: column;
        padding: 10px;
    }

    .div-img,
    .div-formulario {
        flex: 1 100%;
    }

    .div-formulario {
        padding: 20px;
    }
}

/* input */

.input-buscar-producto {
    outline: none;
    color: #000000; 

}

.input-buscar-producto::placeholder {
    color: var(--color-blanco);
}

.input-buscar-producto:focus{
    outline: none; 
    color: #000000; 
}

/* input */
.input-buscar-producto {
    margin-left: auto;
    background-color: #3636361d;
    border-color: var(--color-1-empresa);
    animation:  box-producto 5s ease forwards;
    animation-iteration-count: infinite;
    margin-left: 5px;
}