:root {
    /* Aqui  se definen los colores de la empresa PCmax */
    --color-blanco: #ffffff;
    --color-gris-2:#fafafa ; 
    --color-gris: #515151;
    --color-1-empresa: #02ff02;
    --color-2-empresa: #000000;
    --color-rojo: #ff0202;
}
 
* {
    margin: 0;
}


.navbar {
    position: absolute;
    width: 100%;
    font-weight: 500;
    z-index: 1;
}


.navbar-nav {
    display: flex;
    /*ayudara a centrar los links */
    width: 100%; 
    justify-content: center; 
    align-items: center;
    
}

.nav-link {
    padding: 10px;
    color: var(--color-blanco);
  
}

/* link de Pcmax */
.navbar-brand {
    font-weight: 550;
    color: var(--color-blanco);

}

.nav-link:hover, .navbar-brand:hover {
    background-color: #02ff020f;
    color: var(--color-1-empresa);
    border-radius: 10px;
    animation-delay: 2s;
    cursor: default;

}

.logo-PcMax {
    position: relative;
    width: 78px;
    height: 65px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* input */

.input-buscar-producto {
    outline: none;
}
.input-buscar-producto::placeholder {
    color: var(--color-blanco);
}

.input-buscar-producto:focus{
    outline: none; 
    color: #000000; 
}

.form-control {
    margin-left: auto;
    border-color: var(--color-1-empresa);
    animation:  box-producto 5s ease forwards;
    animation-iteration-count: infinite;
    margin-left: 5px;
    background-color: rgba(64, 64, 64, 0.1); 
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
}

@keyframes box-producto {
    0% {
        border-color: var(--color-1-empresa);
    }
    50% {
        border-color: #000000;
    }
    0% {
        border-color: var(--color-1-empresa);
    }
}

/* Boton buscar */
.btn-buscar {
    position: relative;
    background: linear-gradient(85deg, #44ff44,#44ff44, #fff200); 
    font-weight: 650;
    color: var(--color-blanco);
    padding: 2px
    
}


.btn-buscar:hover {
   background: linear-gradient(85deg,  #ffffff,#ffffff); 
   animation-duration: 2s;
   color: var(--color-1-empresa);
   z-index: 5;
}


.estadoUsuario1 {
    position: relative;
    display: flex;
    color: #44ff44;
    cursor: default;
    top: 8px;
    left: 2px;
}

.estadoUsuario2 {
    position: relative;
    display: flex;
    color: red;
    cursor: default;
    top: 8px;
    left: 2px;

}

.link-carro {
    background: linear-gradient(85deg, #44ff44, #44ff44); 
    border-radius: 5px;
}

.link-carro:hover {
    background: linear-gradient(85deg, #ffffff, #ffffff); 

}


/* Carrusel */
.img-carrusel-carousel {
    position: relative;
    height: 640px;

}

/* Titulo carrusel */
.padre-h1 {
    background-color: rgba(64, 64, 64, 0.1); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    z-index: 1;

}

h1 {
    position: relative;
    color:var(--color-blanco);
    font-size: 80px;
    font-weight: 680;
    text-shadow: 0px 0px 65px #000000c5 ;

}

.parrafo-carrusel {
    text-shadow: 0px 0px 40px #000000 ;
    font-weight: 250;
    font-size: 20px;
    

}


.div-bienvenida-usuario  {
    position: relative;
    background-color: var(--color-gris-2);
}
.texto-usuario-bienvenida {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.boton-usuario-bienvenida {
    background-color: #02ff02;
}

/* PRODUCTOS */
.seccion-productos {
    position: relative;
    border-radius: 10px;
    background-color: var(--color-gris-2);
    border: 1px solid #cacaca;
}


.titulo-producto {
    background-color: var(--color-2-empresa);
    color: var(--color-blanco);
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.subtitulo-producto{
    background: linear-gradient(85deg, #44ff44, #fff200); 

}

.card {
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
    box-shadow: 5px 5px 10px 1px #dcdcdc;
    
} 

.card:hover {
    transform: translateY(-10px); 
    transition: all 1s ease; 

}

.card-body {
    background-color: var(--color-blanco);
    color: var(--color-2-empresa);
    border-radius: 25px 25px 0px 0px;
}
.card-id-producto {
    position: absolute;
    color: var(--color-gris);
    font-size: 13px;
    font-weight:bold;
    top: 17px;
    

}

.card-id-producto_categoria {
    position: absolute;
    color: var(--color-gris);
    font-size: 13px;
    font-weight:bold;
    bottom: 55px;
    left: 124px;
    cursor: default;
}
.card-text-precio {
    color: var(--color-rojo);
    font-weight:bold;
    font-size: 20px;
}

.card-text-precio-2 {
   position: absolute;
   color: var(--color-rojo);
   font-weight: bold;
   bottom: 90px; 
   cursor: default;
}

.card-text-desc {
    color: var(--color-gris);
    position: relative;
    text-decoration: line-through;
    font-size: 15px;
    bottom: 5px;
}

.card-text-desc-2 {
    color: var(--color-gris);
    position: absolute;
    bottom: 50px; 
    font-size: 13px;
    cursor: default;

}
.div-boton {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btn-link-a {
    background: linear-gradient(85deg, #44ff44, #fff200); 
    text-decoration: none;
    font-weight: 550;
    color: var(--color-blanco);
    padding: 10px;
    transition: all 0.3s ease; 

}
.btn-link-a:hover {
    background: linear-gradient(85deg,  #fff200,#44ff44); 
    border-radius: 5px;
    color: #175317;
    box-shadow: 0px 0px 100px 2px #9cff8d6e;

}

/* CATEGORIA */

.container-categorias {
    text-align: center;
    color: var(--color-blanco);
    border-radius: 5px;
    background-color: var(--color-2-empresa);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.titulo-categoria {
    position: relative;
    background-color: var(--color-2-empresa);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
   
}

.links-categorias {
    position: relative;
    display: flex;
   
}


.img-categorias {
    position: relative;
    width: 100%; 
    height: 100%;  
    object-fit: cover; 
}

.img-hover-cate {
    position: relative;
    width: 100%; 
    height: 300px;  
    overflow: hidden;  
}


.img-hover-cate:hover {
    transform: scale(1.1); 
    transition: all 1s ease; 
    z-index: 2;
    color: var(--color-1-empresa);

}


.card-title-categoria {
    text-shadow: 0px 0px 10px var(--color-2-empresa);
    color: var(--color-blanco);
}

.card-title-categoria:hover {
    color: var(--color-1-empresa);
    transform: scale(1.04); 
    transition: all 500ms ease; 

}

.img-cat-left {
    border-bottom-left-radius: 10px;
}

.img-cat-right {
    border-bottom-right-radius: 10px;
}

/* Publicidad */

.titulo-publicidad {
    position: relative;
    background-color: var(--color-2-empresa);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--color-blanco);
    margin: 0;
    

}

.marquee-div {
    margin: 0;
    background-color: #000000;
}

.marquee-publicidad {
    position: relatives;
    background-color: var(--color-2-empresa);
    color: var(--color-blanco);
    cursor: default;
    animation:  oferta-producto  2s ease forwards;
    animation-iteration-count: infinite;
    margin: 0;
}


@keyframes oferta-producto {
0% {
    color: var(--color-blanco);
}
50% {
    color: #ff0000;
}
90% {
    color: var(--color-blanco);

}
}


.img-publicidad {
    position: relative;
    margin: 0;
    height: 250px;
}

.img-publicidad-left {
    border-bottom-left-radius: 10px;

}

.img-publicidad-right {
    border-bottom-right-radius: 10px;

}

.img-publicidad:hover, .img-publicidad-left:hover,
.img-publicidad-medio:hover, .img-publicidad-right:hover  {
    transform: scale(1.04); 
    transition: all 500ms ease; 
    filter: brightness(0.5);
}


/* TE GARANTIZAMOS */
.seccion-crear-cuenta {
    border-radius: 10px;
    background-color: var(--color-gris-2);
    border: 1px solid #cacaca;

}

.titulo-garantizamos {
    position: relative;
    background-color:var(--color-2-empresa);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: var(--color-blanco);
    margin: 0;
}

.div-garantizamos {
    position: relative;
    display: flex;
}

.div-seguridad {
    background-color: var(--color-blanco);
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #dcdcdc;

}

.div-envios {
    background-color: var(--color-blanco);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #dcdcdc;

}

.div-cliente {
    background-color: var(--color-blanco);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px 1px #dcdcdc;

}

.img-seguridad {
    width: 100px;
}

/* AYUDA AL CLIENTE */

.bg-titulo-ayuda {
    background-color: var(--color-2-empresa);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--color-blanco);

}

.div-botones-ayuda {
    position: relative;
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    align-items: center;     
    gap: 10px;          
    background-color: var(--color-gris-2);
    border: 1px solid #cacaca;    text-decoration: none;
    font-weight: 550;
    color: var(--color-blanco);
    padding: 10px;
    transition: all 0.3s ease;    
}

.button-ayudaa {
    background: linear-gradient(85deg, #44ff44, #fff200); 
    text-decoration: none;
    font-weight: 550;
    color: var(--color-blanco);
    padding: 10px;
    transition: all 0.3s ease; 
    width: 200px;
    text-align: center;
}

/* PRESENTACION */

.titulo-presentacion {
    background-color: var(--color-2-empresa);
    border-top-left-radius: 15px;
    color: var(--color-blanco);
}

.div-texto-presentacion {
     border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--color-gris-2);
    border: 1px solid #cacaca;
}

.img-tienda-pcMax {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
}


/* FOOTER */
footer {
    background-color: #070707;
    color: var(--color-blanco);
}

.img-wsp-footer {
    position: absolute;
    display: flex;
}

.nro-wsp {
    position: relative;
    left: 30px;
    top: 1px;
}

.hr-footer {
    display: flex;
    height: 4px;
    color: #ffffff;
}

.div-footer {
    display: flex;
}
.hover-redes-footer:hover {
    position: relative;
    background-color: #1a1818;
    border-radius: 100%;
    transform: translateY(-3px);
    animation-duration: 500ms;
}

.img-redes-footer {
    position: relative;
    left: 1px;
}

.logo-PcMax2 {
    background-color: var(--color-2-empresa);
    box-shadow: 0px 0px 30px var(--color-2-empresa);
    position: relative;
    width: 88px;
    height: 84px;
    border-radius: 60%;
    padding: 10px;
}