{% load bootstrap5 %}
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>Tu Carrito</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/carro_comprao.css' %}">
</head>

<body>

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div>
    <a href="{% url 'home' %}"> 
        <img src="{% static './images/logo-empresa.jpg' %}" class="logo-PcMax ms-3" alt="Logo Empresa"> 
    </a>
  </div>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--Link inicio sesion -->
          <li class="nav-item me-2">
            <a class="nav-link active" href="{% url 'inicio_sesion' %}">
              <i class="fas fa-user"></i>
              Iniciar sesión
            </a>
          </li>
          <!--Link Registro -->
          <li class="nav-item me-2">
            <a class="nav-link active" href="{% url 'registro_cliente' %}">
              <i class="fas fa-user-plus"></i> 
              Registro
            </a>
          </li>
          <!--Link Historial -->
          <li class="nav-item me-2">
            <a class="nav-link active" aria-disabled="true">
              <i class="fas fa-history"></i> 
              Historial
            </a>
          </li>
          <!-- DROP CATEGORIAS-->
          <li class="nav-item me-2 dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <i class="fas fa-list mx-auto"></i>
              Categorias
            </a>
            <!-- dropdown menu -->
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=1">
                  <i class="fas fa-desktop mx-auto"></i>
                  Pc gamer</a>
              </li> 
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=2">
                  <i class="fas fa-laptop"></i>
                  Laptop</a>
              </li> 
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=3">
                  <i class="fas fa-mobile-alt"></i>
                  Celulares</a>           
                <li>
                <hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=0">
                  <i class="fas fa-box-open mx-auto"></i>
                    Todos los productos
                </a>
              </li>
            </ul>
          </li>
           <!-- DROP AYUDA 
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Ayuda
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'contacto_cliente' %}">Contactanos</a></li>
              <li><a class="dropdown-item" href="{% url 'guia_tutorial' %}">Guías y tutoriales</a></li>
            </ul>
          </li>-->
          <!--Link carro compras -->
          <li class="nav-item link-carro mx-1">
            <a class="nav-link active  " href="{% url 'carro_compra' %}"">
              Carro
              <i class="fas fa-shopping-cart"></i> <!-- icon carro-->
            </a>
            
          </li>

          <form class="from-buscar d-flex ms-2" method="get">
            <input class="input-buscar-producto form-control me-2" placeholder="Busca un Producto" aria-label="Search">
            <button class="btn btn-buscar px-3 py-2" type="submit">Buscar</button>
          </form>
        </ul>
      </div>
    </div>
</nav>
<!-- Fin NavBar-->

    
    <br><br>

    
    <div class="container">
        <h2>Tu Carrito:</h2>
<!-- Mostrar el total con descuento si hay uno -->

        <h3 class="my-4 text-end">
            <a href="/compra_producto" class="btn btn-primary">Comprar</a>
            <span>Total del Carrito: ${{ total_carrito|currency }}</span>
            <p>Descuento: ${{ total_carrito_con_descuento|currency }}</p>
            <span><!-- Mostrar el total con descuento si hay uno -->
              {% if descuento_aplicado %}
                 
                  
                  <p>subtotal: ${{ total_carrito_con_descuento|currency }}</p>
              {% else %}
                  <p>Total a pagar: ${{ total_carrito|currency }}</p>
              {% endif %}</span>



        </h3>

        <form method="POST">
          {% csrf_token %}
          <label for="codigo_descuento">cupon de descuento:</label><br>
          <input type="text" name="codigo_descuento" >
          
          <button class="btn btn-primary" type="submit">Aplicar descuento</button>
      </form>
      <br>

     {% if descuento_aplicado %}
    <p>Descuento aplicado: {{ descuento_aplicado }}%</p>
{% endif %}

        <ul class="carrito-lista">
            {% for elemento in elementos %}
            <li class="carrito-item">
                <img src="{{ elemento.producto.imagen_producto.url }}" class="card-img-top productoIMG" alt="{{ elemento.producto.nombre_producto }}">

                <div class="product-details">
                    <h3>{{ elemento.producto.nombre_producto }}</h3>
                    <p>{{ elemento.producto.descripcion_producto }}</p>
                    <p>Precio: ${{ elemento.producto.precio_producto|currency }}</p>

                    <!-- Formulario para modificar la cantidad -->
                    <form method="post" action="{% url 'modificar_cantidad_carrito' elemento.id %}">
                        {% csrf_token %}
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" name="cantidad" value="{{ elemento.cantidad }}" min="1" required>
                        <button class="btn btn-primary" type="submit">Actualizar</button>
                    </form>
                </div>
                {% if messages %}
                <div class="alert alert-primary">
                    <ul>
                        {% for message in messages %}
                            <li >{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            

                <!-- Enlace para eliminar del carrito -->
                <a href="{% url 'eliminar_del_carrito' elemento.id %}" class="eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            {% endfor %}

            {% if elementos|length == 0 %}
            <li class="carrito-item">
                <h4>No hay productos en tu carrito</h4>
            </li>
            {% endif %}
        </ul>

        <a href="/" class="btn btn-primary">Continuar comprando</a> <br><br><br>
    </div>

    {% bootstrap_javascript %}


    <script>
      setTimeout(function() {
          const alert = document.querySelector('.alert');
          if (alert) {
              alert.classList.remove('show');
              alert.classList.add('fade');
          }
      }, 1000); // Desaparece después de 5 segundos
  </script>
</body>

</html>
