{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/contacto_cliii.css' %}">

</head>
<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div>
    <img src=" {% static './images/logo-empresa.jpg '%}" class="logo-PcMax ms-3" alt="...">
  </div>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Iniciar sesión</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">Registro</a>
          </li>
          
          <!-- Lo ideal es que hayan varias categorias sin olvidar eso  -->
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">Ayuda</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">historial</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'carro_compra' %}"><i class="fa-solid fa-cart-shopping"></i></a>
           
          </li>
          <form class="from-buscar d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar un Producto" aria-label="Search">
            <button class="btn btn-buscar" type="submit">Buscar</button>
          </form>
        </ul>
        
      </div>
    </div>
  </nav>
<!-- Fin NavBar-->
 
<section class="seccion-formulario col-12 mx-auto">
  <div class="d-flex">
    <div class="div-img col-6">
      <img src="{% static './images/publicidad-3.jpg '%}" class="img-formulario col-12 " alt="...">
    </div>
    <div class="div-formulario col-5 mx-auto">
      <h2 class="text-center">Contáctanos</h2>
      <p  class = "subtitulo-formulario p-2 text-center" id = "validar">Puedes escribirme directamente  por correo electronico en este formulario para mantenernos en contacto</p>
      <form id="miFormulario" class="text-light m-2 mx-3 py-3 "  action = "{% url 'contacto_cliente' %}" method="POST"> <!--action="https://formsubmit.co/ecd140b5d5b1a3deb8ffe5ca7be23196"-->
        {% csrf_token %}
            <!-- Nombre usuario -->
        <div class="mb-2 px-5" id="divNombre">
            <label class="my-2 col-12 p-1 text-center" for="nombre">Nombre</label>
            <input id="nombre" name="name" type="text" class="form-control">
        </div>
        <!-- Gmail usuario -->
        <div class="mb-2 px-5">
            <label for="correo" class="form-label col-12 p-1 text-center">Correo electrónico</label>
            <input id="correo" name="email" type="email" class="form-control" placeholder="nombre@gmail.com">
        </div>
        <!-- Text-area usuario -->
        <div class="px-5">
            <label for="mensaje" class="form-label col-12 p-1 text-center">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="message" placeholder="Escríbeme..." rows="4"></textarea>
        </div>
        <!-- Para enviar los datos del formulario -->
        <div class="botonEnviar text-center ">
            <input class="boton-diseno px-5 py-2 " type="submit" value="Enviar" id="enviar">
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>