{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detalle del producto</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
   
    <link rel="stylesheet" href="{% static 'css/detalles_productos-2.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo-empresa.jpg' %}">

</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div>
    <a href="{% url 'home' %}"> 
        <img src="{% static './images/logo-empresa.jpg' %}" class="logo-PcMax ms-3" alt="Logo Empresa"> 
    </a>
  </div>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--Link inicio sesion -->
          <li class="nav-item me-2">
            <a class="nav-link active" href="{% url 'inicio_sesion' %}">
              <i class="fas fa-user"></i>
              Iniciar sesión
            </a>
          </li>
          <!--Link Registro -->
          <li class="nav-item me-2">
            <a class="nav-link active" href="{% url 'registro_cliente' %}">
              <i class="fas fa-user-plus"></i> 
              Registro
            </a>
          </li>
          <!--Link Historial -->
          <li class="nav-item me-2">
            <a class="nav-link active" aria-disabled="true">
              <i class="fas fa-history"></i> 
              Historial
            </a>
          </li>
          <!-- DROP CATEGORIAS-->
          <li class="nav-item me-2 dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <i class="fas fa-list mx-auto"></i>
              Categorias
            </a>
            <!-- dropdown menu -->
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=1">
                  <i class="fas fa-desktop mx-auto"></i>
                  Pc gamer</a>
              </li> 
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=2">
                  <i class="fas fa-laptop"></i>
                  Laptop</a>
              </li> 
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=3">
                  <i class="fas fa-mobile-alt"></i>
                  Celulares</a>           
                <li>
                <hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=0">
                  <i class="fas fa-box-open mx-auto"></i>
                    Todos los productos
                </a>
              </li>
            </ul>
          </li>
           <!-- DROP AYUDA 
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Ayuda
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'contacto_cliente' %}">Contactanos</a></li>
              <li><a class="dropdown-item" href="{% url 'guia_tutorial' %}">Guías y tutoriales</a></li>
            </ul>
          </li>-->
          <!--Link carro compras -->
          <li class="nav-item link-carro mx-1">
            <a class="nav-link active  " href="{% url 'carro_compra' %}"">
              Carro
              <i class="fas fa-shopping-cart"></i> <!-- icon carro-->
            </a>
            
          </li>

          <form class="from-buscar d-flex ms-2" method="get">
            <input class="input-buscar-producto form-control me-2" placeholder="Busca un Producto" aria-label="Search">
            <button class="btn btn-buscar px-3 py-2" type="submit">Buscar</button>
          </form>
        </ul>
      </div>
    </div>
</nav>
<!-- Fin NavBar-->
 
    <div class="div-flujo-links-a">
      <a class="flujo-link-a" href="{% url 'home' %}">&lt; Ir al Inicio</a>
      <a class="flujo-link-a" href="{% url 'lista_productos' %}?id_categoria=">&lt;Todos los Productos</a>
      <a class="flujo-link-a" href="{% url 'carro_compra' %}">&gt; Carro compras</a>
    </div>

    <div class="container con_detalle pt-5">
        <h1 class="my-4 text-center" >{{ producto.nombre }}</h1>
        <div class="d-flex">
            <div class="div-img col-md-5">
               <img src="{{ producto.imagen_producto.url }}" class=" card-img-top zoom" alt="{{ producto.nombre_producto }}">
              
            </div>

            <div class="div-texto-padre-producto col-md-6 ">
                <h1 class="titulo-producto" style="text-align: center;" >{{ producto.nombre_producto  }}</h1>
               
          <div class="detalle-producto mt-4">
    <div class="precio-stock-container d-flex flex-column align-items-start">
        <div class="precio-stock-item mb-2">
            <h3 class="text-primary m-0">Precio <span class="fs-5 fw-bold text-success m-0"> $ {{ producto.precio_producto|currency }} </span></h3>
            
        </div>
        <div class="precio-stock-item">
            <h3 class="text-primary m-0">Stock  <span class="fs-5 fw-bold text-success m-0"> {{ producto.cantidad_producto }}</span></h3></h3>
         <br>
                
            
        </div>
    </div>
</div>    
                <!-- Mostrar mensajes de error -->
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="div-medio-de-pago  bg-primary">
                  <h6 style="text-align: center; color: rgb(255, 255, 255);">Medios de Pago</h6>
                  <img width="1%"  src="{% static './images/metodo-de-pago.png'%}" class="img-pago col-12 " alt="...">

                </div>
                <!-- Formulario para agregar al carrito -->
                <form  action="{% url 'agregar_al_carrito' producto.id %}" method="post" class="mt-3 py-5">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button  type="submit" class="btn btn-primary">
                      Agregar al Carro
                      <i class="fas fa-shopping-cart"></i> <!-- icon carro-->
                    </button>
                </form>
            </div>
        </div>
    </div>

    
    <section class="container ">
      
      
          
        
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="">Descripción</h3>
        </div>
        <div class="card-body">
          <p class="categoria ">{{ producto.descripcion_producto }}</p>
          <p class="categoria ">Categoria: {{ producto.id_categoria}}</p>
  
          <p>El producto se encuentra en esta ubicacion:</p>
          <p class="categoria ">{{ producto.id_almacen }}</p>
          <p class="categoria ">Dirección actual: {{ producto.id_almacen.direccion_almacen }}</p>
          <p class="categoria ">Si el producto se encuentra serca de tu ubicacion, el envio sera mas rapido y seguro!</p>
        
        </div>
      </div>
      
    </section>
    


    {% bootstrap_javascript %}
</body>
</html>