{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/historial-1.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo-empresa.jpg' %}">

</head>
<body>
 
        <!--DIV 2-->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        </div>
 

</body>
</html>

