<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Icons -->
      <!-- Fonts  -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>Pc max</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <!-- CSS -->
      <link rel="icon" type="image/png" href="{% static 'images/logo-empresa.jpg' %}">
      <link rel="stylesheet" href="{% static 'css/styleyyeeee4.css' %}">
      
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div>
      <img src=" {% static './images/logo-empresa.jpg '%}" class="logo-PcMax ms-3" alt="...">
    </div>
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'inicio_sesion' %}">Iniciar sesión</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'registro_cliente' %}">Registro</a>
            </li>
           
           

            <li class="nav-item">
              <a class="nav-link active" aria-disabled="true">Historial</a>
            </li>
            <!-- DROP CATEGORIAS-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categorias</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'lista_productos' %}?id_categoria=1">Pc gamer</a></li> 
                <li><a class="dropdown-item" href="{% url 'lista_productos' %}?id_categoria=2">Laptop</a></li> 
                <li><a class="dropdown-item" href="{% url 'lista_productos' %}?id_categoria=3">Celulares                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'lista_productos' %}?id_categoria=0">Todos los productos</a></li>
              </ul>
            </li>
             <!-- DROP AYUDA -->
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ayuda</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'contacto_cliente' %}">Contactanos</a></li>
                <li><a class="dropdown-item" href="{% url 'guia_tutorial' %}">Guías y tutoriales</a></li>
              </ul>
            </li>
            <!--Link carro compras -->
            <li class="nav-item link-carro mx-1">
              <a class="nav-link active  " href="{% url 'carro_compra' %}">Carro
                <i class="fas fa-shopping-cart"></i>
              </a>
              
            </li>

            <form class="from-buscar d-flex" method="get">
              <input class="form-control me-2" placeholder="Buscar un Producto" aria-label="Search">
              <button class="btn btn-buscar px-3 py-2" type="submit">Buscar</button>
            </form>
          </ul>
        </div>
      </div>
  </nav>

  <!-- CARRUSEL -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class=" carousel-inner ">
          <div class="carousel-item active">
            <img src=" {% static './images/HERO-OFICIAL.jpg '%}" class="img-carrusel-carousel d-block w-100" alt="...">
              <div class="padre-h1 carousel-caption  col-12 ms-auto mb-5  ">
                <h1>Todo en tecnologia</h1>
                <p class="parrafo-carrusel">Busca y compra nuestros productos tecnologicos de ultima generacion 100% seguro</p>
              </div>
          </div>
      </div>
  </div>

  <br class="col-10 mx-auto">

  <!-- PRODUCTOS  -->
   <section class="seccion-productos col-11 col-sm-11 col-md-11  mx-auto my-5">
    <h2 class="titulo-producto py-2 ps-5">Nuevos productos</h2>
    <p class="subtitulo-producto py-1 ps-5">Hechale un nuevo visto a los productos de tu interes</p>
      <div class="div-orden-productos row">
          {% for producto in productos %}
          <div class="col-6 col-sm-6 col-md-4 col-xl-3 mx-auto">
              <div class="card mx-auto">
                  {% if producto.imagen_producto %}
                  <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title text-center">{{ producto.nombre_producto }}</h5>
                      <p class="card-id-producto">ID: {{ producto.id }}</p>
                      <p class="card-id-producto_categoria col-5">Cat: {{ producto.id_categoria.nombre_categoria }}</p>
                      <div>
                        <p class="card-text text-center">{{ producto.descripcion_producto|truncatechars:46 }}</p>
                        <p class="card-text-precio ms-2">${{ producto.precio_producto|currency }}</p> <!--Float format para formato de puntos -->
                        <p class="card-text-precio-2 ms-2">Precio actual</p>
                        <p class="card-text-desc ms-2 mt-4">${{ producto.precio_producto|currency  }}</p>
                        <p class="card-text-desc-2 ms-2">Antes</p>
                      </div>
                      <div class="div-boton mx-auto">
                        <a class="btn-link-a px-5" href="{% url 'detalle_producto' producto.id %}">Ver producto</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
  </section>

  <br class="col-10 mx-auto">

  <!-- CATEGORIAS -->
  <section class="container-categorias col-11 mx-auto  my-2">
    <h2 class="titulo-categoria py-2 pb-2">Categorías</h2>
      <div class="links-categorias ">
        <a href="{% url 'lista_productos' %}?id_categoria=1">
          <div class="img-hover-cate position-relative">
            <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 img-categorias" alt="...">
            <h2 class="card-title-categoria position-absolute top-50 start-50 translate-middle">Pc Gamer</h2>
          </div>
        </a>
        
        <a href="{% url 'lista_productos' %}?id_categoria=2">
          <div class="img-hover-cate position-relative">
            <img src="{% static './images/HERO-OFICIAL.jpg '%}" class="col-12 img-categorias" alt="...">
            <h2 class="card-title-categoria position-absolute top-50 start-50 translate-middle">Laptops</h2>
          </div>
        </a>
      
        <a href="{% url 'lista_productos' %}?id_categoria=3">
          <div class="img-hover-cate position-relative">
            <img src="{% static './images/HERO-OFICIAL.jpg ' %}" class="col-12 img-categorias" alt="...">
            <h2 class="card-title-categoria position-absolute top-50 start-50 translate-middle">Celulares</h2>
          </div>
        </a>
      <div>
  </section>

  <br class="col-10 mx-auto">

  <!-- PUBLICIDAD -->
  <section class="seccion-publicidad col-11 mx-auto my-5 ">
    <h2 class="titulo-publicidad py-2 ps-5">Ofertas Solo por hoy</h2>
    <div>
      <div class="col-12">
        <a href="{% url 'lista_productos' %}?id_categoria_producto=1">
          <img src="{% static './images/publicidad-3.jpg '%}" class="img-publicidad col-12 " alt="...">
        </a>
      </div>
      <div class="d-flex">
        <div class="col-4">
          <img src="{% static './images/publicidad-3.jpg '%}" class="img-publicidad-left col-12 " alt="...">
        </div>
        <div class="col-4">
          <img src="{% static './images/publicidad-3.jpg '%}" class="img-publicidad-medio col-12 " alt="...">
        </div>
        <div class="col-4">
          <img src="{% static './images/publicidad-3.jpg '%}" class="img-publicidad-right col-12 " alt="...">
        </div>
      </div>
    </div>
  </section>

  <br class="col-10 mx-auto">

   <!-- HISTORIAL PRODUCTOS  -->
   <section class="seccion-productos col-11 col-sm-11 col-md-11  mx-auto my-5">
    <h2 class="titulo-producto py-2 ps-5">Nuevos productos</h2>
    <p class="subtitulo-producto py-1 ps-5">Hechale un nuevo visto a los productos de tu interes</p>
      <div class="div-orden-productos row">
          {% for producto in productos %}
          <div class="col-6 col-sm-6 col-md-4 col-xl-3 mx-auto">
              <div class="card mx-auto">
                  {% if producto.imagen_producto %}
                  <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title text-center">{{ producto.nombre_producto }}</h5>
                      <p class="card-id-producto">Cat: {{ producto.id_categoria_producto }}</p>
                      <div>
                        <p class="card-text text-center">{{ producto.descripcion_producto|truncatechars:46 }}</p>
                        <p class="card-text-precio ms-2">${{ producto.precio_producto|currency  }}</p>
                        <p class="card-text-precio-2 ms-2">Precio actual</p>
                        <p class="card-text-desc ms-2 mt-4">${{ producto.precio_producto|currency  }}</p>
                        <p class="card-text-desc-2 ms-2">Antes</p>
                      </div>
                      <div class="div-boton mx-auto">
                        <a class="btn-link-a px-5" href="{% url 'detalle_producto' producto.id %}">Ver producto</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
  </section>

  <br class="col-10 mx-auto">
  
    <!--Seccion categorias-->
    <!--
    <section class="container-categorias col-11 mx-auto my-5">
      <div>
        <div class="titulo-categoria">
          <h2>Busca tus productos por marcas (asus, ACER, HP)</h2>
        </div>
        <p>Buscar los productos por marca, similar a las categorias</p>
        <p>las marcas no estan definidos en la base de datos</p>
    </section>-->

<!--
    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <h4>ofertas y descuentos</h4>
        <p>descuentos</p>
    </section>-->
    <!-- SECCION GARANTIZAMOS -->
    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <h2 class="titulo-garantizamos py-2 pb-2">PcMax te garantiza</h2>
        <div class="div-garantizamos col-11 mx-auto row">
          <div class="col-4 text-center  ">
            <h3 class="my-2">Envios rapidos</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dicta neque explicabo deleniti sed libero vitae odit obcaecati, totam perspiciatis mollitia maiores pariatur ipsa reprehenderit vel officiis enim eos voluptatibus!s
            <div>
              <img src="{% static './images/camion-de-reparto.png '%}" class="img-seguridad col-12 mt-2" alt="...">
            </div>
          </div>
          <div class="col-4 text-center ">
            <h3 class="my-2">Seguridad</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores eveniet nulla distinctio maiores, ducimus laudantium aspernatur ad obcaecati possimus aliquid ut, quidem esse explicabo. Excepturi unde fugiat ea esse magni.
          
            <div>
              <img src="{% static './images/proteger.png '%}" class="img-seguridad col-12 mt-2" alt="...">
            </div>
          </div>
          <div class="col-4 text-center ">
            <h3 class="my-2">Servicio al cliente</h3>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, molestiae, unde nam ut architecto minus numquam consequuntur exercitationem mollitia quisquam nulla excepturi fugiat odit voluptate illo velit voluptatibus minima totam.
            <div>
              <img src="{% static './images/apoyo.png '%}" class="img-seguridad col-12 mt-3" alt="...">
            </div>
          </div>
        </div>
    </section>

    <br class="col-10 mx-auto">
    
    <!-- AYUDA AL CLIENTE -->
    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
      <div class="col-12 d-flex">
        <div class="col-4 bg-titulo-ayuda position-relative">
          <h2 class="position-absolute top-50 start-50 translate-middle">ayuda</h2>
        </div>
        <div class="col-8 div-botones-ayuda">
          <a class="col-6" href="{% url 'contacto_cliente' %}">Contacto</a>
          <a class="col-6" href="{% url 'guia_tutorial' %}">Guias y tutoriales</a>
          <a class="col-6" href="">facebook ig wsp</a>

        </div>
      </div>
      <p class="position-absolute bottom-0 start-50 translate-middle-x">(logo facebook) (IG) (wsp)</p>
    </section>
    
    <br class="col-10 mx-auto">

    <!-- PRESENTACION -->
    <section class="seccion-prestacion col-11 mx-auto my-5 ">
      <div class="d-flex">
        <div class="div-texto-presentacion col-6">
          <h2 class="titulo-presentacion ps-5 py-2">Un poco de nosotros</h2>
          <p class="col-11 ms-2 me-auto">encuentranos en  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio odit vitae atque, consequatur labore exercitationem nihil sunt et accusantium magni dolorum in fugiat eveniet voluptates distinctio expedita. Voluptates, animi.</p>
        </div>
        <div class="col-6">
          <img src="{% static './images/tienda-pc-max.avif '%}" class="img-tienda-pcMax col-12 " alt="...">

        </div>
      </div>
    </section>
      
    <br class="col-10 mx-auto">

   <!--     
        <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          Metodos de pagos
        </section>

        -->

        <!-- REQUERIMIENTO NO DEFINIDO-->
    <!--    <section class="seccion-crear-cuenta col-11 mx-auto my-5 ">
          <h2>a quien no le gustaria un regalo?</h2>

          <p>Premio al mejor cliente  (requerimineto no definido)</p>
          <p>aqui se premiara y se reconocera a los clientes mas frecuentes</p>
          <p>utilizando django y la base de datos se podra reconocer a los clientes que han tenido la mayor cantidad de compras</p>
          <p>incentivando a los clientes a posibles premios aleatorios que ofrece la empresa</p>
        
          <p>tambien el profesor dijo que se puede crear un cupon para la siguente compra</p>
        </section> -->
        
    <!-- FOOTER  -->
    <footer class = "col-12 mt-5">
      <div class="div-footer ">
          <div class = "col-3 ms-auto my-5">
                  <h4 class = "">Contáctanos</h4>
                  <div class="col-6 hr-decoracion mb-5"></div>
                      <h6>Servicio al cliente 1</h6>
                      <img class ="img-wsp-footer" src="{% static './images/whatsapp.png '%}" alt="">
                      <p class="nro-wsp"> +56 982029193</p>
                      <h6>Servicio al cliente 2</h6>
                      <img class ="img-wsp-footer" src="{% static './images/whatsapp.png '%}" alt="">
                      <p class="nro-wsp">+56 933669775</p>
                      <h6>Envianos un correo por</h6>
                      <p>br.casas@duocuc.cl</p>
                      
                  <p>Siguenos en:</p>
                  <a class="hover-redes-footer px-1 py-2" href="https://wa.me/56933668775">
                      <img class="img-redes-footer "  src="{% static './images/whatsapp.png '%}" alt="">
                  </a>
                  <a class="hover-redes-footer px-1 py-2" href="https://www.instagram.com/brandonluis_1/">
                      <img class="img-redes-footer " src="{% static './images/instagram.png'%}" alt="">
                  </a>
                  <a class="hover-redes-footer px-1 py-2" href="https://www.facebook.com/plazadelatecnologia?locale=es_LA">
                      <img class="img-redes-footer "  src="{% static './images/icons-facebook.png '%}" alt="">
                  </a>
          </div>
          <div class = "col-3 mx-auto my-5" >
              <h4>Ayuda</h4>
              <div class="col-6 hr-decoracion mb-5"></div>
              <p>Como esta mi envio</p>
              <p>Servicio</p>
              <p>Otros servicios</p>
              <p>Preguntas frecuentes</p>
          </div>

          <div class = "col-3 ms-1 my-5" >
              <h4>Acerca de nosotros</h4>
              <div class="col-6 hr-decoracion mb-5"></div>
              <p>Conoce nuestra historia</p>
              <p>Politicas y privacidad</p>
          </div>
          
      </div>
      <div class="col-1 mx-auto">
        <img src=" {% static './images/logo-empresa.jpg '%}" class="logo-PcMax2 ms-2" alt="...">

      </div>
      <div class ="col-10 mx-auto text-center">
          <h6 class = " py-5">Esta prohibido la copia de esta pagina web segun la ley 17336.</h6>    
      </div>
  </footer>

</body>
</html>