{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/lista_productotttttt.css' %}">

</head>
<body>
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div>
      <a href="{% url 'home' %}"> 
          <img src="{% static './images/logo-empresa.jpg' %}" class="logo-PcMax ms-3" alt="Logo Empresa"> 
      </a>
    </div>
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--Link inicio sesion -->
            <li class="nav-item me-2">
              <a class="nav-link active" href="{% url 'inicio_sesion' %}">
                <i class="fas fa-user"></i>
                Iniciar sesión
              </a>
            </li>
            <!--Link Registro -->
            <li class="nav-item me-2">
              <a class="nav-link active" href="{% url 'registro_cliente' %}">
                <i class="fas fa-user-plus"></i> 
                Registro
              </a>
            </li>
            <!--Link Historial -->
            <li class="nav-item me-2">
              <a class="nav-link active" aria-disabled="true">
                <i class="fas fa-history"></i> 
                Historial
              </a>
            </li>
            <!-- DROP CATEGORIAS-->
            <li class="nav-item me-2 dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-list mx-auto"></i>
                Categorias
              </a>
              <!-- dropdown menu -->
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=1">
                    <i class="fas fa-desktop mx-auto"></i>
                    Pc gamer</a>
                </li> 
                <li>
                  <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=2">
                    <i class="fas fa-laptop"></i>
                    Laptop</a>
                </li> 
                <li>
                  <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=3">
                    <i class="fas fa-mobile-alt"></i>
                    Celulares</a>           
                  <li>
                  <hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item py-2" href="{% url 'lista_productos' %}?id_categoria=0">
                    <i class="fas fa-box-open mx-auto"></i>
                      Todos los productos
                  </a>
                </li>
              </ul>
            </li>
             <!-- DROP AYUDA 
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Ayuda
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'contacto_cliente' %}">Contactanos</a></li>
                <li><a class="dropdown-item" href="{% url 'guia_tutorial' %}">Guías y tutoriales</a></li>
              </ul>
            </li>-->
            <!--Link carro compras -->
            <li class="nav-item link-carro mx-1">
              <a class="nav-link active  " href="{% url 'carro_compra' %}"">
                Carro
                <i class="fas fa-shopping-cart"></i> <!-- icon carro-->
              </a>
              
            </li>

            <form class="from-buscar d-flex ms-2" method="get">
              <input class="input-buscar-producto form-control me-2" placeholder="Busca un Producto" aria-label="Search">
              <button class="btn btn-buscar px-3 py-2" type="submit">Buscar</button>
            </form>
          </ul>
        </div>
      </div>
  </nav>
<!-- Fin NavBar-->
<section>
  <h2 class="titulo-producto py-2 ps-5">Nuevos productos</h2>
    <p class="subtitulo-producto py-1 ps-5">Hechale un nuevo visto a los productos de tu interes</p>
    
    <!-- Productos -->
    <div class="container">
        <h1>Productos</h1>

        <div class="div-flujo-links-a">
          <a class="flujo-link-a" href="{% url 'home' %}">&lt; Ir al Inicio</a>
          <a class="flujo-link-a" href="{% url 'lista_productos' %}?id_categoria=">&lt;Todos los Productos</a>
          <a class="flujo-link-a" href="{% url 'carro_compra' %}">&gt; Carro compras</a>
        </div>

        <div class="row">
            {% for producto in productos %}
            <div class="col-md-3">
                <div class="card">
                    {% if producto.imagen_producto %}
                    <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-center pb-1">{{ producto.nombre_producto }}</h5>
                        <p class="card-text text-center">{{ producto.descripcion_producto|truncatechars:46 }}</p>
                        <p class="card-text text-center">${{ producto.precio_producto|currency }}</p>
                        <p class="stock-productos card-text col-6 mx-auto text-center py-1"><b class="text-unidades">Unidades: </b>{{ producto.cantidad_producto }}</p>
                        <div class="div-boton mx-auto">
                            <a class="btn-link-a px-5" href="{% url 'detalle_producto' producto.id %}">Ir al carro</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</section>

</body>

</html>